<main id="homepage">
  <header id="homepage-header">
    <div id="logo">
      {{#link 'help_center'}}
        <img src="//inc2.inc.com/img/Inc-logo-black.svg">
        <span>Help Center</span>
      {{/link}}
    </div>

    <div id="search">
      <span>How can we help you?</span>
      <section class="search-box">
        <form accept-charset="UTF-8" action="/hc/en-us/search" class="search" method="get" role="search">
          <div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
          <input id="query" name="query" placeholder="Search" type="search" />
          <button><i class="icon-search-glass"></i></button>
        </form>
      </section>
    </div>
  </header>

  <div class="container">
    <section class="featured-categories">
      <h2>FEATURED CATEGORIES</h2>

      <div class="categories">
        <div class="category">1</div>
        <div class="category">2</div>
        <div class="category">3</div>
      </div>
    </section>

    <section class="all-categories">    
      <div class="categories">
        {{!-- {{#each categories}}          
          <div class="category">
            <h3>{{name}}</h3>

            {{#each sections}}
              {{@key}}: {{name}}<br>
              {{@first}}: {{name}}<hr>
            {{/each}}
          </div>
        {{/each}} --}}
      </div>
    </section>
  </div>
</main>

<button id="contact-us">
  Contact Us
  <a href="mailto:care@fastcompany.com"></a>
</button>

<script>
  document.body.classList.add('homepage'); // Let the footer know it's the homepage

  var categories = document.querySelector('.all-categories .categories');

  var cats = [
    {{ #each categories }}
      { name: '{{name}}', url: '{{url}}', sections: [ {{#each sections}} {name: '{{name}}', url: '{{url}}'} {{ #unless @last }},{{ /unless }} {{/each}} ] }
      {{ #unless @last }},{{ /unless }}
    {{ /each }}
  ];

  for (i = 0; i < cats.length; i++) {
    if ((i % 3) === 0) {
      var entries = '';

      for (j = i; j < i + 3; j++) {
        if (cats[j].sections) {
          var sections = '';
          var length = cats[j].sections.length < 3 ? cats[j].sections.length : 3;

          for (k = 0; k < length; k++) {
            sections += `
              <li>
                <a href="${cats[j].sections[k].url}">${cats[j].sections[k].name}</a>
              </li>
            `;
          }
        }

        entries += `
          <div class="category">
            <h3>
              <a href="${cats[j].url}">${cats[j].name}</a>
            </h3>

            <ul>${sections}</ul>
          </div>
        `;
      }

      categories.innerHTML += `<div class="row">${entries}</div>`;
    }
  }
</script>